{% extends 'dashboard.html' %}
<!-- Add Bootstrap CSS -->
{% block addcss %}
<link rel="stylesheet" href="{{url_for('static',filename='add.css')}}">
<!-- <style>
    .one{
        border: 1px solid black;
        padding: 10px;
        border-radius: 10px;
        border-color: blue;
        width: 400px;
    }
</style> -->
{% endblock %}

{% block content %}

<div class="container">
    <h1>File upload</h1>
    <form method="post" enctype="multipart/form-data">
        <div>
            <label for="file">Choose files:</label>
            <input type="file" name="file" multiple required>
        </div>
        <div class="form-group">
            <input type="submit" value="upload">
        </div>
    </form>
</div>

{% endblock %}